* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-container, .game-section {
    display: flex;
    justify-content: center;
    /* wnat it to be size of viewport so confetti covers entire screen */
    height: 100vh;
    width: 100vw;
}

.title {
    font-family: 'Mitr', sans-serif;
    position: absolute;
    margin-top: 15px;
    font-size: 35px;
}

.for-pau {
    font-family: 'Qwitcher Grypen', cursive;
    position: absolute;
    margin-top: 47px;
    margin-left: 7.3rem;
    font-size: 15px;
    color: rgb(255, 165, 178);
    transform: rotate(-5deg);
}

.grid-container {
    position: absolute;
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;
    gap: 5px;
}

.flip-box {
    position: relative;
    width: 63px;
    height: 63px;
    /* this is time it takes to flip one tile. */
    /* If we wnat to change time it takes to move to the next tile --> Grid.js --> flipTile function --> setTimeout() */
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
@keyframes box-jump-on-input {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%; 
    display: grid;
    justify-content: center;  
    align-items: center; 
    font-weight: bold;
    font-size: 32px;  
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.popup-container {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.win-or-lose-display {
    position: absolute;
    margin-top: 5rem;
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 15px;
    border-radius: 10px;
}

.word-does-not-exist-display, 
.solution-display {
    position: absolute;
    margin-top: 35.4rem;
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 15px;
    border-radius: 10px;
}

.keyboard-container {
    position: absolute;
    z-index: 1;
    margin-top: 38.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    width: 560px;
    gap: 8px;
}

.key-individual {
    display: grid;           
    justify-content: center;   
    align-items: center;   
    height: 60px;
    width: 45px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.key-individual:nth-child(20),
.key-individual:nth-child(28) {
    width: 75px;
}

.results-container {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    opacity: 0;
}
@keyframes fadeIn { /* styled in Results.js */
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.play-again-button {
    position: absolute;
    z-index: 2;
    margin-top: 42rem;
    background-color: rgb(255, 165, 178);
    color: white;
    text-decoration: none;
    border: none;
    padding: 15px 32px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.play-again-button:hover {
    background-color: rgb(249, 134, 153);
}

.play-again-enter-key {
    position: absolute;
    z-index: 2;
    margin-top: 46rem;
    background-color: rgb(255, 165, 178);
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
}



@media screen and (max-width: 414px) {
    .win-or-lose-display {
        margin-top: 17.1rem;
    }
    .grid-container {
        margin-top: 5rem;
        padding: 10px;
        gap: 5px;
    }
    .word-does-not-exist-display, 
    .solution-display {
        margin-top: 31.5rem;
        padding: 8px;
        font-size: 12px;
        border-radius: 8px;
    }
    .keyboard-container {
        /* margin-top: 58vh; */
        margin-top: 33rem;
        padding: 15px;
        width: 400px;
        gap: 5px;
    }
    .key-individual { 
        height: 50px;
        width: 32px;
    }
    .key-individual:nth-child(20),
    .key-individual:nth-child(28) {
        width: 48px;
    }
    .play-again-button {
        margin-top: 37.4rem;
        padding: 14px 31px;
        font-size: 18px;
    }
    .play-again-enter-key {
        visibility: hidden;
        margin-top: 41rem;
    }
}






















